$light-blue: #1585e0;
$bg-color: #111;
$lighter-bg-color: #191919;
$selected-bg: #2a2a2a;
$highlighted: #333;
$unselected: #8f8f8f;
$disabled-input: #494949;
$disabled-word: #616161;
$correct: #81fe62;
$incorrect: #ed6060;
$incorrect-border: #ff4d4d;
